<%- include ('partials/head.ejs') %>	

<h1><%= title %></h1>
 
  <h2>Conexión e integración multiplataforma </h2>
    <p>DigitalApium te permite mantener actualizada la información de <br> las bases de datos de Walcu y SalesManago.</p>

<%- include ('partials/foot.ejs') %>	
